<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>PostIt</title>
  <link rel="shortcut icon" href="/assets/img/sticky-notes.png"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img  src="/assets/img/sticky-notes.png">
        </div>
        <div class="navbar-menu">
            <div>
                <h1>PostIt</h1>

                <a id="loginButton" class="navbar">
                    Login
                </a>

                <a id="signupButton" class="navbar"> 
                    Signup
                </a>
            </div>
        </div>
    </nav>

    <div class="columns is-centered">
        <div class="column"></div>
        <div class="column">
            <section id="loginSignup"></section>
            <div id="errorBox" class="hidden">
                <h3><span id="errorMessage"></span></h3>
            </div>
        </div>
        <div class="column"></div>
    </div>

    <section id="publicPosts">
    </section>
    <script src="/assets/loginBundle.js"></script>
</body>
</html>
