<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post-It</title>
  <link rel="shortcut icon" href="/assets/img/sticky-notes.png"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
<nav class="navbar mx-5 my-1" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img class="image is-32x32 my-auto" src="/assets/img/sticky-notes.png">
        </div>
        <div class="navbar-menu">
            <div class="navbar-start ml-2">

                <h1 class="title m-auto pr-4 pl-1">Post-It</h1>

                <a id="loginButton" class="navbar-item m-auto has-text-centered">
                    Log In
                </a>

                <a id="signupButton" class="navbar-item m-auto has-text-centered"> 
                    Sign Up
                </a>
            </div>
        </div>
    </nav>

    <div class="columns is-centered has-text-centered">
        <div class="column has-text-centered is-two-thirds">
            <section id="loginSignUp"></section>
            <div id="error" class="hidden">
                <h2><span class="has-text-weight-bold" id="eMessage"></span></h2>
            </div>
        </div>
    </div>
    <section id="publicPosts">

    </section>

    <script src="/assets/loginBundle.js"></script>
</body>
</html>
